	#php_flag register_globals on
	#php_flag display_errors 1
	
	AddDefaultCharset utf-8
	
	RewriteEngine   on
	
	RewriteCond %{HTTP_HOST} ^www.figli-migli.net$ [NC]
	RewriteRule ^(.*)$ http://figli-migli.net/$1 [R=301,L]
	
	RewriteRule ^sitemap.xml$ sitemap.php [L]
	
	RewriteRule ^details/(.*)-([0-9]+).html$ index.php?module=items&id=$2 [L,QSA]
	RewriteRule ^([0-9]+)/(.*)-pictures.html$ ajax/index.php?module=images&id=$1 [L,QSA]
	RewriteRule ^store/(.*)-([0-9]+)/(.*)-([0-9]+)$ index.php?module=items&category=$4&category_base=$2 [L]
	RewriteRule ^store/(.*)-([0-9]+)$ index.php?module=items&category_base=$2 [L]
	RewriteRule ^cart$ index.php?module=basket [L,QSA]
	RewriteRule ^subscribe$ index.php?module=subscribe [L,QSA]
	
	RewriteRule ^images/([0-9]+).jpg$ img.php?file=upload/items/$1_1.jpg [L,QSA]
	RewriteRule ^images/([0-9]+)/([0-9]+).jpg$ img.php?file=upload/items/$2_$1.jpg [L,QSA]
	RewriteRule ^big_image/([0-9]+)/0([0-9]+)/(.*).jpg$ img.php?file=upload/items/$1_$2.jpg&width=1000&no_watermark=1 [L,QSA]
	RewriteRule ^big_image/([0-9]+)/([0-9]+)/(.*).jpg$ img.php?file=upload/items/$1_$2.jpg&width=1000 [L,QSA]
	RewriteRule ^medium_image/([0-9]+)/([0-9]+)/(.*).jpg$ img.php?file=upload/items/$1_$2.jpg&width=360 [L,QSA]
	RewriteRule ^square_thumb/([0-9]+)/([0-9]+).jpg$ img.php?file=upload/items/$1_$2.jpg&width=100&fixed_asp=1 [L,QSA]
	RewriteRule ^list_thumb/([0-9]+)/(.*).jpg$ img.php?file=upload/items/$1_1.jpg&width=230&fixed_asp=1.29213 [L,QSA]
   